<!-- <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{cardDetails?.name}}</h5>
    <p class="card-text">{{cardDetails?.date}}</p>
    <p class="card-text">{{cardDetails?.public}}</p>
  </div>
</div> -->

<!-- <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">  
  <div class="card" style="width: 18rem;"></div>
  <div class="card-header">
    <h5 class="card-title">{{cardDetails?.name}}</h5>
  
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{cardDetails?.date}}</li>
    <li class="list-group-item">{{cardDetails?.public}}</li>
  </ul>
</div>
</div> -->
<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">{{cardDetails?.name}}</div>
  <div class="card-body">
    <h5 class="card-title">{{cardDetails?.date}}</h5>
    <p class="card-text">{{cardDetails?.public}}</p>
  </div>
</div>